/* Color Palette */

:root {
    --brown: #9E7C6B;
    --green: #2A6543;
    --grey: #D0D4DC;
    --orange: #DD7755;
    --tan: #F7EACA;
    --hog-green: #015453;
    --darker-brown: #694D3F;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}

.head {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-weight:bold;
}

.logo-container {
    position: absolute;
    padding-top: 8px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    z-index: 2;
}

.logo-container img {
    max-width: 130px;
    margin-left: 20px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-one {
    /* flex: 1; */
    background-color: var(--brown);
    padding: 10px;
    height: 20px;
    align-content: center;
    color: white;
}

.nav-one ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: right;
}

.nav-two {
    /* flex: 1; */
    background-color: white;
    color: var(--orange);
    padding: 10px;
    height: 60px;
    align-content: center;
}

.nav-two ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: right;
}

.nav-one li, .nav-two li {
    margin: 0 15px;
}

.first-image img {
    overflow: hidden;
    width: 100%;
}

main h1 {
    text-align: center;
    padding: 20px 0 20px 0; 
}

.main-sponsor {
    width: 15%;
    height: auto;
    justify-self: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
}

/* Carousel Design */

.carousel {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 600px;
}

.carousel-images img {
    width: 20%;
    height: auto;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* end of carousel Design */

footer {
    padding-top: 10px;
    color: white;
}

footer .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--brown);
}

footer img {
    width: 80px;
    height: auto;
}

footer p {
    text-align: center;
    background-color: var(--darker-brown);
    padding: 10px 0 10px 0; 
}
