/* Color Palette */

:root {
    --brown: #9E7C6B;
    --green: #2A6543;
    --grey: #D0D4DC;
    --orange: #DD7755;
    --tan: #F7EACA;
    --hog-green: #015453;
    --darker-brown: #694D3F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* header section */
.head {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
}

.logo-container img {
    max-width: 125px;
    padding-top: 12px;
    margin-left: 25px;
    height: auto;
    display: block;
}

.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-one {
    background-color: var(--brown);
    color: white;
    padding: 10px 30px;
    font-size: medium;
    width: 100%;
}

.nav-one ul, .nav-two ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-two {
    background-color: white;
    color: var(--orange);
    font-size: larger;
    padding: 35px;
    width: 100%;
}

.nav-one li, .nav-two li {
    margin: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: inherit;
}

/* .nav-container li a:hover {
    background-color: #DD7755;
    color: white;
} */

/* Main Section */

.intro-section .first-image img {
    height: 400px; 
    overflow: hidden;
    display: block;
    width: 100%;
    filter: blur(.8px);
    object-fit: cover; /* Ensures the image fills the height without distortion */
}

.intro-section h1 {
    text-align: center;
    padding: 20px 0; 
    background-color: var(--orange);
    color: white;
    font-size: medium;
    font-weight:normal;
}

.highlight {
    font-weight: bold;
    font-size: 1.2em;
    /* font-style: italic; */
}

.main-sponsor {
    width: 20%;
    padding: 35px;
    margin: 0 auto;
    display: block;
    justify-self: center;
}

.color-divider {
    height: 5px;            /* Thickness of the divider */
    background-color: var(--orange); /* Color of the divider */
    width: 100%;            /* Full-width divider */
    padding: 20px;
}

.image-grid-section .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
}

.recap-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 40px 20px;
    align-items: center;
}

.recap-section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--hog-green);
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 75px;
    text-wrap: wrap;
    width: 85%;
    padding: 64px 60px;
    /* height: 100%; */
}

.recap-section .video{
    overflow: hidden;
    border-radius: 10px;
    /* height: 100%; */
    width: 85%;
    margin: 0 auto;
}

.recap-section .video iframe {
    border-radius: 10px;
    justify-items: center;
}

/* Carousel Design */

.carousel-section {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.carousel {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-image {
    flex: 0 0 33.33%;
    height: 200px;
    object-fit: cover;
    padding: 20px;
  }

  .carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
  }

/* end of carousel Design */

/* footer Section */

footer {
    color: white;
    background-color: var(--brown);
    padding-top: 10px;
    width: 100%;
}

footer img {
    width: auto;
    height: 8rem;
    padding: 8px 0;
}

.footer-upper {
    display: flex;
    justify-content: space-around;
}


.footer-info {
    font-size: 12px;
    line-height: 1.5rem;

    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: 8px 0;
    
}

.footer-lower {
    background-color: var(--darker-brown);
    padding: 0.5rem;
    display: flex;
    justify-content: center;

}
