/* Color Palette */

:root {
    --brown: #9E7C6B;
    --green: #2A6543;
    --grey: #D0D4DC;
    --orange: #DD7755;
    --tan: #F7EACA;
    --hog-green: #015453;
    --darker-brown: #694D3F;
    --beige: #92755c4c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.head {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
}

.logo-container:hover {
    animation: shake 0.5s;
    cursor: pointer;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.logo-container img {
    max-width: 125px;
    padding-top: 12px;
    margin-left: 25px;
    height: auto;
    display: block;
}

.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-one {
    background-color: var(--brown);
    color: white;
    padding: 10px;
    font-size: medium;
    width: 100%;
}

.nav-one ul, .nav-two ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-one li:hover {
    color: rgb(217, 201, 187);
}

.nav-two li:hover {
    color: #c65e3b;
}

.nav-two {
    background-color: white;
    color: var(--orange);
    font-size: larger;
    padding: 30px 10px 8px 30px;
    width: 100%;
    overflow: hidden;
}

.nav-two a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0 0 30px;
    height: 100%;
    text-decoration: none;
}

.nav-one li, .nav-two li {
    margin: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: inherit;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown {
    border: none;
    outline: none;
    color: var(--orange);
    background-color: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover {
    color: #c65e3b;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--orange);
    color: white;
    min-width: 160px;
    max-width: calc(100vw - 32px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    top: 90%;
    right: 0;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #c65e3b;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hamburger {
    display: none;
}

/* Main Section */

main {
    margin: 50px;
}

.contact-top {
    padding: 10px 0;
    margin: 30px 0 20px;
}

.contact-top h1 {
    font-size: 50px;
    color: var(--orange);
}

.contact-top .body {
    display: flex;
    padding-top: 10px;
    line-height: 1.8;
    justify-content: space-between;
}

.contact-top img {
    width: 38%;
    /* margin-right: 40px; */
    margin-bottom: 50px;
}

.text {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    font-weight: 100;
    font-size: 25px;
    text-wrap: wrap;
}

.text h3 {
    color: var(--orange);
}

.number {
    text-decoration: underline;
}

.contact-form {
    background-color: var(--beige);
    padding: 50px;
    margin: 30px 0 80px;
}

.contact-form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.contact-form input {
    width: 70%;
    padding: 8px;
    margin:5px 0 10px;
    box-sizing: border-box;
}

.contact-form .info {
    width: 60%;
}

.contact-form button {
    width: 40%;
    padding: 10px;
    background-color: var(--orange);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

/* footer Section */

footer {
    color: white;
    background-color: var(--brown);
    padding-top: 10px;
    width: 100%;
}

footer img {
    width: auto;
    height: 8rem;
    padding: 8px 0;
}

.footer-upper {
    display: flex;
    justify-content: space-around;
}


.footer-info {
    font-size: 12px;
    line-height: 1.5rem;

    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: 8px 0;
    
}

.footer-lower {
    background-color: var(--darker-brown);
    padding: 0.5rem;
    display: flex;
    justify-content: center;

}

@media (max-width: 768px) {
    
    /* Header */

    .logo-container {
        width: auto;
        padding-left: 10px;
    }

    .logo-container img {
        max-width: 88px;
        padding-top: 10px;
        margin-left: 10px;
        height: auto;
        display: block;
    }

    .nav-container {
        display: none; /* Hidden by default */
        flex-direction: column;
        position: absolute;
        top: 95px; /* Adjust based on header height */
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 9;
    }

    .nav-container.show {
        display: flex; /* Display when toggled */
    }

    .nav-one {
        display: none;
    }

    .nav-two {
        display: none;
    }

    .nav-mobile {
        color: var(--orange);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: larger;
        padding: 10px 10px 8px 30px;
        background-color: var(--tan);
        position: sticky;
    }

    .nav-mobile li:hover {
        color: #000;
    }

    .nav-mobile ul {
        text-align: right;
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .nav-mobile li {
        margin: 10px 0;
    }

    .nav-mobile a {
        float: right;
    }

    .hamburger {
        display: flex; /* Hidden on desktop */
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 10;
    }
    
    .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: black;
        border-radius: 2px;
        transition: 0.3s;
    }

    /* Main Section Adjustments */
    main {
        margin: 20px;
        margin-top: 5rem;
    }

    .contact-top h1 {
        font-size: 28px;
    }

    .contact-top .body {
        flex-direction: column;
        align-items: left;
        margin-top: 1rem;
    }

    .contact-top img {
        width: 100%;
        margin: 1rem;
        margin-left: 0;
    }

    .text {
        width: 100%;
        font-size: 18px;
        text-align: left;
    }

    .dropdown-content {
        left: 0;
        width: 40%;
    }

    /* Contact Form Adjustments */
    .contact-form {
        padding: 20px;
        margin: 20px 0 40px;
    }

    .contact-form input,
    .contact-form .info {
        width: 70%;
    }

    .contact-form button {
        width: 70%;
    }

    /* Footer */
    footer {
        padding-top: 10px;
    }

    footer img {
        width: auto;
        height: 4rem;
        padding: 3px 0;
    }

    .footer-upper {
        display: flex;
        justify-content: space-around;
    }


    .footer-info {
        font-size: 10px;
        line-height: 1rem;
        width: 15rem;
        padding: 4px 0;
    }

    .footer-lower {
        font-size: 14px;
    }
}