/* Color Palette */

:root {
    --brown: #9E7C6B;
    --green: #2A6543;
    --grey: #D0D4DC;
    --orange: #DD7755;
    --tan: #F7EACA;
    --hog-green: #015453;
    --darker-brown: #694D3F;
    --beige: #92755c4c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Header Section */
.head {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    width: 100%;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
}

.logo-container img {
    max-width: 125px;
    padding-top: 12px;
    margin-left: 25px;
    display: block;
}

.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-one {
    background-color: var(--brown);
    color: white;
    padding: 10px 30px;
    font-size: medium;
    width: 100%;
}

.nav-one ul, .nav-two ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-two {
    background-color: white;
    color: var(--orange);
    font-size: larger;
    padding: 35px;
    width: 100%;
}

.nav-one li, .nav-two li {
    margin: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: inherit;
}

/* Main Section */
main {
    margin: 50px;
}

.hog-callin-top {
    padding: 10px 0;
    margin-bottom: 30px 0 20px;
}

.hog-callin-top h1 {
    font-size: 40px;
    padding: 20px 0;
    text-wrap: wrap;
    /* this needs to be adjust for mobile */
    width: 20%;
    color: var(--orange);
}

.top p {
    font-size: 24px;
    line-height: 1.5;
}

.float-image {
    float: right; /* or right */
    margin: 0 15px 15px 0; /* Add margin to separate the image from the text */
    width: 150px; /* Optional: set width as needed */
}

.hog-callin-top img {
    width: 38%;
    background-color: var(--brown);
    margin-left: 30px;
}

.hog-callin-form {
    background-color: var(--beige);
    padding: 50px;
    margin: 30px 0 80px;
}

.hog-callin-form h1 {
    font-size: 34px;
    padding-bottom: 15px;
}

.hog-callin-form h2 {
    padding: 10px 0;
    font-size: 25px;
}

.hog-callin-form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.hog-callin-form input,
.hog-callin-form select {
    width: 70%;
    padding: 8px;
    margin:5px 0 10px;
    box-sizing: border-box;
}

.hog-callin-form, .hog-callin-form .info {
    display: flex;
    flex-direction: column;
}

.hog-callin-form .info {
    width: 60%;
}

.hog-callin-form button {
    width: 40%;
    padding: 10px;
    background-color: var(--orange);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

/* Footer Section */

footer {
    color: white;
    background-color: var(--brown);
    padding-top: 10px;
    width: 100%;
}

footer img {
    width: auto;
    height: 8rem;
    padding: 8px 0;
}

.footer-upper {
    display: flex;
    justify-content: space-around;
}


.footer-info {
    font-size: 12px;
    line-height: 1.5rem;

    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: 8px 0;
    
}

.footer-lower {
    background-color: var(--darker-brown);
    padding: 0.5rem;
    display: flex;
    justify-content: center;

}