/* Color Palette */

:root {
    --brown: #9E7C6B;
    --green: #2A6543;
    --grey: #D0D4DC;
    --orange: #DD7755;
    --tan: #F7EACA;
    --hog-green: #015453;
    --darker-brown: #694D3F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.head {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
}

.logo-container img {
    max-width: 130px;
    padding-top: 14px;
    padding-left: 10px;
    height: auto;
    display: block;
}

.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-one {
    background-color: var(--brown);
    color: white;
    padding: 10px 30px;
    font-size: medium;
    width: 100%;
}

.nav-one ul, .nav-two ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-two {
    background-color: white;
    color: var(--orange);
    font-size: larger;
    padding: 30px;
    width: 100%;
}

.nav-one li, .nav-two li {
    margin: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: inherit;
}

h1{
    text-align: center;
    margin-top: 20px;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 250px); /* 2 columns with each folder 150px wide */
    grid-gap: 20px; /* Space between the folders */
    justify-content: center; /* Center the grid */
    margin-top: 20px;
    max-width: 100%;
    justify-content: center;
 }
 
 .folder {
    width: 250px;
    height: 300px; /* Increased height to accommodate both image and year */
    background-color: #015453; 
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack the image and year vertically */
    align-items: center;
    justify-content: flex-start; /* Align at the top */
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    overflow: hidden; /* Ensures image doesn't overflow outside the folder */
}

 .folder img {
    width: 100%; /* Fit image to the folder width */
    height: 220px; /* Set height to ensure a consistent size */
    object-fit: cover; /* Crop image to fill */
    
 }

 .year {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
 }

 .submit-button {
    background-color: #BC4F32; 
    color: white; 
    padding: 15px 30px; 
    font-size: 18px; 
    font-weight: bold; 
    text-align: center; 
    border-radius: 0px; 
    width: 300px; 
    margin: 30px auto; 
    cursor: pointer; 
}

.submit-button:hover {
    background-color: rgb(189, 104, 0); /* Darken the background on hover */
}

footer {
    color: white;
    background-color: var(--brown);
    padding-top: 10px;
    width: 100%;
}

footer img {
    width: auto;
    height: 8rem;
    padding: 8px 0;
}

.footer-upper {
    display: flex;
    justify-content: space-around;
}


.footer-info {
    font-size: 12px;
    line-height: 1.5rem;

    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: 8px 0;
    
}

.footer-lower {
    background-color: var(--darker-brown);
    padding: 0.5rem;
    display: flex;
    justify-content: center;

}