/* Color Palette */

:root {
    --brown: #9E7C6B;
    --green: #2A6543;
    --grey: #D0D4DC;
    --orange: #DD7755;
    --tan: #F7EACA;
    --hog-green: #015453;
    --darker-brown: #694D3F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* header section */
.head {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
}

.logo-container img {
    max-width: 125px;
    padding-top: 12px;
    margin-left: 25px;
    height: auto;
    display: block;
}

.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-one {
    background-color: var(--brown);
    color: white;
    padding: 10px 30px;
    font-size: medium;
    width: 100%;
}

.nav-one ul, .nav-two ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-two {
    background-color: white;
    color: var(--orange);
    font-size: larger;
    padding: 35px;
    width: 100%;
}

.nav-one li, .nav-two li {
    margin: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: inherit;
}

/* footer Section */

footer {
    color: white;
    background-color: var(--brown);
    padding-top: 10px;
    width: 100%;
}

footer img {
    width: auto;
    height: 8rem;
    padding: 8px 0;
}

.footer-upper {
    display: flex;
    justify-content: space-around;
}


.footer-info {
    font-size: 12px;
    line-height: 1.5rem;

    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: 8px 0;
    
}

.footer-lower {
    background-color: var(--darker-brown);
    padding: 0.5rem;
    display: flex;
    justify-content: center;

}


main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px; 
    padding: 20px; 
}

.left {
    flex: 1; 
    max-width: 50%; 
}

.right {
    position: relative;
    flex: 1; 
    max-width: 50%; 
}

.img_1 {
    position: absolute; /* Allows precise positioning */
    top: 0;
    left: 0;
    width: 800px; 
    height: auto;
    
    z-index: 2; /* Controls stacking order */
}

.img_2 {
    position: absolute;
    top: 30px; /* Adjust to create overlap */
    left: 50px; /* Adjust to create overlap */
    width: 150%; 
    max-width: 300px; 
    z-index: 1; /* Sits behind .img_1 */
}

.img_3 {
    position: absolute;
    top: 70px; /* Adjust to create overlap */
    left: 100px; /* Adjust to create overlap */
    width: 100%; 
    max-width: 200px; 
    z-index: 3; /* Sits in front of .img_1 and .img_2 */
}

.left h1 {
    margin-bottom: 15px;
}

.right img {
    width: 100%; 
    max-width: 200px; 
    margin-bottom: 10px; 
    display: block; 
}

.left_text{

    font-size: 2rem; 
    line-height: 1.5; 
}

